*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
	left: 34px;
	top: 49px;
	width: 623px;
	height: 82px;
	animation: none 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s2s {
	position: absolute;
	left: 34px;
	top: 49px;
	width: 623px;
	height: 82px;
	animation: none 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 10;
}

.s3 {
	position: absolute;
	left: 34px;
	top: 162px;
	width: 623px;
	height: 82px;
	animation: none 0.3s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3s {
	position: absolute;
	left: 34px;
	top: 162px;
	width: 623px;
	height: 82px;
	animation: none 0.3s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 10;
}

.s4 {
	position: absolute;
	left: 34px;
	top: 275px;
	width: 623px;
	height: 82px;
	animation: none 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4s {
	position: absolute;
	left: 34px;
	top: 275px;
	width: 623px;
	height: 82px;
	animation: none 0.3s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 10;
}

.s5 {
	position: absolute;
	left: 34px;
	top: 388px;
	width: 623px;
	height: 82px;
	animation: none 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5s {
	position: absolute;
	left: 34px;
	top: 388px;
	width: 623px;
	height: 82px;
	animation: none 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
	left: 105px;
	top: 549px;
	width: 369px;
	height: 79px;
	z-index: 10;
}

.s7 {
	position: absolute;
	left: 549px;
	top: 549px;
	width: 369px;
	height: 79px;
	z-index: 10;
}

.s8 {
	position: absolute;
	left: 105px;
	top: 639px;
	width: 369px;
	height: 79px;
	z-index: 10;
}

.s9 {
	position: absolute;
	left: 549px;
	top: 639px;
	width: 369px;
	height: 79px;
	z-index: 10;
}

.yes {
	animation: pulse 0.5s infinite;
	animation-delay: 0.2s;
	animation-fill-mode: both;
}

.s10 {
	position: absolute;
    left: 306px;
    top: 534px;
    width: 411px;
    height: 150px;
	animation: zoomIn 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	display: none;
	z-index: 15;
}

.s11 {
	position: absolute;
	left: 44px;
	top: 681px;
	width: 935px;
	height: 39px;
	animation: flipInX 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 15;
}

.s12 {
	position: absolute;
	left: 219px;
	top: 547px;
	width: 578px;
	height: 181px;
	animation: zoomIn 0.5s;
	animation-delay: 1s;
	animation-fill-mode: both;
	display: none;
	z-index: 15;
}


.s6s2 {animation: s6s2 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s6s2 {
  0% {left: 105px;top: 549px;width: 369px;height: 79px;opacity: 1;}
  100% {left: 620px;top: 52px;width: 369px;height: 79px;opacity: 1;}
}

.s6s3 {animation: s6s3 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s6s3 {
  0% {left: 105px;top: 549px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 165px;width: 369px;height: 79px;opacity: 1;
  }
}

.s6s4 {animation: s6s4 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s6s4 {
  0% {left: 105px;top: 549px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 278px;width: 369px;height: 79px;opacity: 1;}
}

.s6s5 {animation: s6s5 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s6s5 {
  0% {left: 105px;top: 549px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 391px;width: 369px;height: 79px;opacity: 1;}
}


.s7s2 {animation: s7s2 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s7s2 {
  0% {left: 549px;top: 549px;width: 369px;height: 79px;opacity: 1;}
  100% {left: 620px;top: 52px;width: 369px;height: 79px;opacity: 1;}
}

.s7s3 {animation: s7s3 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s7s3 {
  0% {left: 549px;top: 549px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 165px;width: 369px;height: 79px;opacity: 1;
  }
}

.s7s4 {animation: s7s4 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s7s4 {
  0% {left: 549px;top: 549px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 278px;width: 369px;height: 79px;opacity: 1;}
}

.s7s5 {animation: s7s5 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s7s5 {
  0% {left: 549px;top: 549px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 391px;width: 369px;height: 79px;opacity: 1;}
}


.s8s2 {animation: s8s2 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s8s2 {
  0% {left: 105px;top: 639px;width: 369px;height: 79px;opacity: 1;}
  100% {left: 620px;top: 52px;width: 369px;height: 79px;opacity: 1;}
}

.s8s3 {animation: s8s3 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s8s3 {
  0% {left: 105px;top: 639px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 165px;width: 369px;height: 79px;opacity: 1;
  }
}

.s8s4 {animation: s8s4 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s8s4 {
  0% {left: 105px;top: 639px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 278px;width: 369px;height: 79px;opacity: 1;}
}

.s8s5 {animation: s8s5 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s8s5 {
  0% {left: 105px;top: 639px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 391px;width: 369px;height: 79px;opacity: 1;}
}


.s9s2 {animation: s9s2 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s9s2 {
  0% {left: 549px;top: 639px;width: 369px;height: 79px;opacity: 1;}
  100% {left: 620px;top: 52px;width: 369px;height: 79px;opacity: 1;}
}

.s9s3 {animation: s9s3 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s9s3 {
  0% {left: 549px;top: 639px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 165px;width: 369px;height: 79px;opacity: 1;
  }
}

.s9s4 {animation: s9s4 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s9s4 {
  0% {left: 549px;top: 639px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 278px;width: 369px;height: 79px;opacity: 1;}
}

.s9s5 {animation: s9s5 1s;animation-delay: 0s;animation-fill-mode: both;}
@keyframes s9s5 {
  0% {left: 549px;top: 639px;width: 369px;height: 79px;opacity: 1;} 
  100% {left: 620px;top: 391px;width: 369px;height: 79px;opacity: 1;}
}